{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block body %}
<div class="container">
	<div class="well">
	{% call macros.render_form(loginform, action_url=url_for('login'), action_text='Login', class_='form-signin') %}
		{{ macros.render_field(loginform.username, label_visible=false, placeholder='Username', type='username') }}
        {{ macros.render_field(loginform.password, label_visible=false, placeholder='Password', type='password') }}
        {{ macros.render_checkbox_field(loginform.remember_me) }}
    {% endcall %}
	</div>
</div>
{% endblock %}